{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    <!-- for calendar date select-->
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="{% static 'designthinking/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'designthinking/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'designthinking/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'designthinking/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'designthinking/img/site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- My CSS File -->
    <link rel="stylesheet" href="{% static 'designthinking/main.css' %}">
  
  <title>AI Brainstorm with Design Thinking</title>

</head>
<body>
  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow pl-0">
  
      
      <div class="sidebar-brand-icon">
          </div>
      <div class="sidebar-brand-text mx-3 text-light">AI Brainstorm Session with Design Thinking</div>
  </a>
  
    <!-- Topbar Navbar -->
    <ul class="navbar-nav">
      
      <!-- Nav Item - User Information -->
      
    <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - Help Icon -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-light">{{ user.first_name }} {{ user.last_name }} </span>
            <img class="img-profile rounded-circle" src="{{user.profile.img.url}}">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
          </a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</a>
          </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'newdesign' %}">
            <i class="fas fa-plus-square"></i>
            <span>Start New Design</span>
        </a>
    </li>

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-file"></i>
          <span>Review Existing Designs</span>
        </a>
        <!-- Dropdown - Project information -->
        <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
        {% for project in projects %}
        
        <a class="dropdown-item" href="{% url 'review' project.id %}">
          <span>
            <p>{{project.name}}</p>
          </span>
        </a>
        
        {% endfor %}
    </li>
  </li>
        <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="{% url 'help' %}">
            <i class="fas fa-question-circle fa-fw"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>
    </nav>
  
  <div class="container-fluid">
    {% block ctt %}
    {% endblock ctt %}
  </div>

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="wrapper">
      <div class="copyright text-center my-auto">
        <span>Copyright © YHW</span>
        <img src="{% static 'designthinking/img/IBM_logo.png' %}" style="max-width:5%; margin-left: 5%;">
      </div>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'designthinking/js/main.js' %}"></script>

</body>
</html>